.main-chat
  .header
    .header__left
      = @group.name
      .header__left--member
        - @group.group_users.each do |group_user|
          Member：
          = group_user.user.name
    .header__right
      = link_to edit_group_path(@group), class: "header__right--btn" do
        Edit
  .main-chat__contents
    = render @messages

  .main-chat__footer
    .footer__messages
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'footer__messages--box', placeholder: 'type a message'
        .footer__messages--icon
          = f.label :image, class: "footer__messages--icon--image" do
            = icon('fa', 'image', class: 'icon') 
            = f.file_field :image, class: 'footer__messages--sousin'
        = f.submit 'Send', class: 'footer__messages--sousin--btn'
      