.side-ber
 .side-ber__header
  .top-tag
   .top-tag__name
    = current_user.name
   .top-tag__box
    = link_to "#", class: "top-tag__item" do
     = icon('fa', 'edit') 
     %span<>
    = link_to edit_user_path(current_user) do
     = icon('fa', 'cog',class: "top-tag__item-two")
 .side-ber__contents
  .group
   .group__name
    d
   .group__list
    aa
  .group
   .group__name
    d
   .group__list
    aa